:root {
    --bg-color: #1d1d1d;
    --bg-second-color:#2c2c2c;
    --bg-third-color: #4b4b4b;
    --button-color: #5C5EFF;
    --effect-color: #5C5EFF;
    --border-color: #7e7e7e;
    --text-color: #eeeeee;
    --text-color-alt: #eee;
    --text-color-muted:#919191;
    --text-color-muted-alt: #b3b3b3;
    --text-font: 'Segoe UI', sans-serif;
    --icon-color: #fff;
    --warning-color: #ee2400;
    --showtime-color: rgb(248, 189, 42);
}

:root[data-theme="light"] {
    --bg-color: #F8FAFC;
    --bg-second-color: #E3E8EF;
    --bg-third-color: #D1D9E6;
    --effect-color: #6C63FF;
    --button-color: #B4C5FF;
    --border-color: #7e7e7e;
    --text-color: #1A1A1A;
    --text-color-alt: #eee;
    --text-color-muted: #5F6368;
    --text-color-muted-alt: #b3b3b3;
    --text-font: 'Segoe UI', sans-serif;
    --icon-color: #6C63FF;
    --warning-color: #E53935;
    --showtime-color: #FF9800;
}

.page {
  max-width: 80%;
  margin: 0 auto;
  padding: 24px;
}

html, body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--text-font);
    padding-top: 0.8rem;
    margin: 0;
    scrollbar-color: var(--effect-color) var(--bg-second-color);
    scrollbar-width: auto;
}