.allgroups-container {
  padding: 1rem;
}

.allgroups-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
  gap: 1rem;
}

.allgroups-card {
  position: relative;
  overflow: hidden;
  background: var(--bg-second-color);
  border: 1px solid (--bg-color);
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  z-index: 0;
   min-height: clamp(130px, 20vw, 130px);
  font-size: clamp(1.25rem, 2.6vw, 1.75rem);
  font-weight: 700;
  letter-spacing: 0.2px;
}

.allgroups-card::before {
  content: attr(data-emoji);
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(140px, 14vw, 140px);
  opacity: 0.59;
  transform: rotate(-10deg);
  pointer-events: none;
  z-index: -1;
}

  .allgroups-card:hover {
    border: 2px solid var(--effect-color);
  }

.allgroups-button {
  margin-top: auto;
  padding: 1em 2em;
  border: none;
  border-radius: 0rem;
  background-color: var(--bg-third-color); 
  color: var(--text-color);
  cursor: pointer;
  transition-duration: 0.3s;
}

.allgroups-button:hover {
  background-color: var(--button-color);
}

.allgroups-add input {
  color: var(--text-color);
  height: 2.4rem;
  font-size: 0.9rem;
  line-height: 1.2;
  padding: 0 0.5rem;
  border-radius: 0;
  margin: auto;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  box-sizing: border-box;
  vertical-align: middle;
}

.allgroups-add input:focus {
  background-color: var(--bg-color);
  border-color: var(--effect-color);
  outline: none;
}