.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two equal columns */
  gap: 2rem;
  padding: 2rem;
}

.container {
  border: 1px solid #ccc;
  border-radius: 0.24rem;
  padding: 1.5rem;
  
}

.full-width {
  grid-column: 1 / -1; /* make it span across both columns */
}


p{
 
}


input{
  margin-top: 10px;
}