.finnkino{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputArea{
    margin-bottom: 1rem;
}

.showArea{
    display: flex;
    flex-direction: column;
}

.showTime{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--showtime-color);
    font-size: xx-large;
    border-bottom: 2px solid;
    border-color: var(--showtime-color);
}

.showSlot {
    margin-bottom: 1rem;
}

.shows { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: .75rem;

}

.photo {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 0rem;
}

.photo:hover {
    transform: scale(1.02);
    transition: transform 150ms ease;
}

.inputArea select,
.inputArea input {
  color: var(--text-color);
  background-color: var(--bg-color);
  height: 2.4rem;
  font-size: 0.9rem;
  line-height: 1.2;
  padding: 0 0.5rem;
  border-radius: 0;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  vertical-align: middle;
  margin-top: 2rem;
}

.inputArea input {
  margin-right: 1rem;
  margin-left: 1rem;
}
