/*
    --bg-color: #1d1d1d;
    --bg-second-color:#2c2c2c;
    --effect-color: #5C5EFF;
    --text-color: #eeeeee;
    --text-font: Arial;
    --icon-color: #fff;
    --warning-color: #ee2400;
*/

.sharedContainer {
    border: 2px solid var(--effect-color);
}

.sharedUl {
    background-color: var(--bg-second-color);
}

 .sharedLi {
    background-color: var(--bg-second-color);
 }