.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--bg-second-color);
  height: auto;
}

.navArea {
  display: flex;
  align-items: center;
  gap: 0.1em;
  flex: 1;
}

.navArea a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem;
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 2px solid var(--bg-third-color);
  white-space: nowrap;
  transition: 0.3s;
  box-sizing: border-box;
  height: 3rem;
}

.navArea a:hover {
  background: var(--bg-color);
  border-bottom: 2px solid var(--effect-color);
}

.navArea a.active {
  background-color: var(--bg-second-color);
  border-bottom: 2px solid var(--effect-color);
}

.loginArea {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.loginArea a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem;
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 2px solid var(--bg-third-color);
  box-sizing: border-box;
  height: 3rem;
  transition: 0.3s;
}

.loginArea a:hover {
  background: var(--bg-color);
  border-bottom: 2px solid var(--effect-color);
}

.loginArea a.active {
  background-color: var(--bg-second-color);
  border-bottom: 2px solid var(--effect-color);
}

/* Responsiveness, not perfect as the search section will fall under it due to fixed nav */
@media (max-width: 640px) {
  .header {
    flex-direction: column;
    align-items: stretch;
  }

  .header h1 {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .navArea,
  .loginArea {
    width: 100%;
    justify-content: space-around;
    margin: 0.25rem 0;
  }

  .navArea a,
  .loginArea a {
    flex: 1 1 auto;
    padding: 0.65rem 0.5rem;
    text-align: center;
    height: auto;
    line-height: normal;
  }
}
