.overlay{
  position: fixed; 
  inset: 0;
  display: grid; 
  place-items: center;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background: var(--bg-color);
  z-index: 1000;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--bg-color); 
    padding: 2rem; 
    gap: 1rem;
    border: 1px solid var(--effect-color);
    border-radius: 12px;
    max-width: 420px; 
    width: min(90vw, 420px);
}