button {
    background-color: var(--effect-color);
    border-radius: 4px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border: none;
}
button:hover {
  background-color: #666666; 
  color: white;
}


.results{
  margin: auto;
  width: 50%;
/*  border: 3px solid green; /* otetaan pois*/
  padding: 1rem;
  text-align: center;
}
select{
  margin-left: 0.75rem;
}

.searchContainer{
margin: auto;
/*border: 3px solid green; /* otetaan pois*/
padding: 1rem;
text-align: center;
}