button {
    background-color: var(--button-color);
    border-radius: 4px;
    margin: 1rem;
    border: none;
}

button:hover {
  background-color: var(--bg-third-color); 
  color: var(--text-color);
}
search-results-page{
  color: var(--text-color);
}

.searchContainer {
  margin: auto;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box; /* include padding in width */
}


.searchContainer button {
    background-color: var(--bg-second-color);
    margin: 1rem;
    padding: 0.5em 0.5em;
    border: none;
    width: 10%;
    border: 2px solid var(--bg-second-color);
    border-radius: 0px;
    transition-duration: 0.3s;
}

.searchContainer button:hover {
        background: var(--bg-color);
        border: 2px solid var(--effect-color);
}

.searchContainer input {
    border-radius: 0px;
    margin: 1rem;
    padding: 0.5em 0.5em;
    border: none;
    width: 10%;
    border: 2px solid var(--bg-second-color);
}

  .searchContainer input.active {
    border: 2px solid var(--bg-effect-color);
  }

.searchContainer select {
  border-radius: 0;
  border: 2px solid var(--bg-third-color);
  padding: 0.5em 0.5em;
}

.movie-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  width: 100%;
}